<div class="container">
  <div class="signin-container">
    <div class="heading">
      <h2>The URLs Application</h2>
    </div>

    <form accept-charset="UTF-8" action="" method="post" class="urlForm">
      <dl class="form full">
        <dt><label for="url">Website URL</label></dt>
        <dd><input id="text" name="url" placeholder="example.com" type="text"/></dd>
      </dl>
    </form>
    <div class="list-group scrollbar" id="style-7">
      <div class="force-overflow items-container">
        <!--<a href="#" class="list-group-item">en.wikipedia.org</a>-->
      </div>
    </div>
    <div class="call-to-signup"></div>
  </div>

</div>